/* iphone 13 div styling */
.iphone-13-div {
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFD;
}

.iphone-13-h1 {
  font-size: 45px;
  margin: 35px 0 0 0;
  font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  /* letter-spacing: -.022em; */
}

.iphone-13-p {
  font-size: 22px;
  margin: 5px 0 12px 0;
  
}

.iphone-13-image {
  height: 380px;
  bottom: 0%;
  margin: 35px 0 0 0;
}

.iphone-se-div {
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFD;
  margin: 10px 0 0 0;
}

.iphone-se-image{ 
  height: 450px;
  margin-top: -45px;
}

.iphone-se-p1 {
font-weight: 600;
margin: 16px 0 0 0;
}

.iphone-se-h1 {
  
  margin: 0 0 0 0;
  font-size: 45px;
  font-weight: 600;
}

.iphone-se-p2 {
  margin: 5px 0 12px 0;
  font-size: 22px;
}

.learn-more-link {
  font-size: 16px;
  color: rgb(1, 95, 189);
  text-decoration: none;
}
.learn-more-link:hover {
  text-decoration: underline;
}
.learn-more-link:after {
  content: "→";
}

.buy-link {
  font-size: 16px;
  color: rgb(1, 95, 189);
  text-decoration: none;
  margin: 0 0 0 35px;
}
.buy-link:hover {
  text-decoration: underline;
}
.buy-link:after {
  content: "→";
}

.grid-learn-more-link {
  font-size: 17px;
  color: rgb(1, 95, 189);
  text-decoration: none;
}
.grid-learn-more-link:hover {
  text-decoration: underline;
}
.grid-learn-more-link:after {
  content: "→";
}

.grid-buy-link {
  font-size: 17px;
  color: rgb(1, 95, 189);
  text-decoration: none;
  margin: 0 0 0 28px;
}
.grid-buy-link:hover {
  text-decoration: underline;
}
.grid-buy-link:after {
  content: "→";
}

